
<div class="container" style="padding: 2em; height: 100%;" >
  <br><br><br><br><br>
  <mat-card  class="example-card" style=" height: 70%;">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
    <div class="row">
      <div class="col-md-6">
        <mat-card-title><h2>LogIN - Fintech</h2></mat-card-title>
        <mat-card-subtitle>Seja Bem-vindo novamente!</mat-card-subtitle>
      </div>
   <div class="col-md-6">
 <img src="../../../../assets/logo-factory.png" width="80%" height="100%">
   </div>
  </div>
    </mat-card-header>
    <mat-card-content>
      <div class="container">
      <mat-form-field class="example-full-width">
        <mat-label>E-mail/Login</mat-label>
        <input matInput  >
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>SENHA</mat-label>
        <input matInput type="password" >
      </mat-form-field>
      <mat-card-actions>
        <button (click)="inicio()" mat-stroked-button color="primary">Seguir</button>
      </mat-card-actions>
      </div>
    </mat-card-content>

  </mat-card>
<BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR>


</div>
